.btn {
	cursor: pointer;
	padding: 6px 12px;
	margin: 0 5px;
	border-radius: 2px;
	background-color: #E5E5E5;
	display: inline-block;
	font-size: 0.9em;
}
.btn:hover, .btn:focus {
	background:#F0F0F0;
}

